.border-style{
  width: 100%;
  margin-top: .5rem;
  margin-bottom: .5rem;
  border: 2px solid #d7791b;
}

.block-info-img {
  width: 276px;
  height: 276px;
  border-radius: 12px;
  background-size: cover;
  background-position: center;
}

.block-info-text {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 700px;
}

.block-info-count {
  width: 74px;
  height: 74px;
  background: #96DBC6;
  border-radius: 100px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 24px;
  text-align: center;
  color: #101010;
  padding: 24px;
}

.block-info-header{
  /* margin: .5rem 0px; */
}

.block-info-project strong{
  color: rgb(215, 121, 27);
  min-width: 112px;
}

.block-info-project span{
  color: #626262;
}

.block-info-title{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #101010;
  align-self: center;
  /* margin-left: 2rem; */
  text-align: initial;
  margin-bottom: 3rem;
}

.block-info-text h3{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  /* font-size: 24px; */
  line-height: 30px;
  /* margin-top: 1rem; */
  /* letter-spacing: 1px; */
  color: #101010;
  text-align: initial;

    font-size: 18px;
    margin-bottom: -8px;
    display: block;
    width: 100%;
}

.block-info-text p{
  font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #101010;
    text-align: initial;
}

/* .image-gallery-content, .image-gallery-slides, .image-gallery-slide.center  {
  height: 450px;
}


.image-gallery-content .image-gallery-slide .image-gallery-image {
  height: inherit;
} */

.block-info-point{
  background: #96DBC6;
  border-radius: 100px;
  padding: 10px;
  display: none;
}

.slick-prev:before, .slick-next:before {
  font-size: 32px !important;
  color: #5a4d4d !important;
}

.review-view__user-icon {
  width: 40px;
  height: 40px;
  text-decoration: none;
  margin-right: 12px;
  background-size: cover;
  border-radius: 50%;
  background-repeat: no-repeat;
}

.review-view__user-text {
  background-color: rgb(187, 211, 255);
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 18px;
    text-align: center;
    padding-top: 7px;
}

.reviews{
  font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    text-align: initial;
    line-height: 28px;
}

.navbar-nav a{
  text-align: start;
}

.slick-slider{
  width: 265px;
  margin: 0 auto;
}

.slick-prev {
  left: -37px !important;
}

.me-auto{
  margin-top: 1rem;
}

.link-header:before {
	display: block;
	content: "";
	height: 165px;
    margin: -165px 0 0;
}