  @media screen and (min-width: 576px) { 

  }

  @media screen and (min-width: 768px) {
    .main-btn {
      margin: 0;
    }

    .App-header {
      padding: 1.5rem 5rem;
      
    }

    .header-text, .header-text .nav-link{
      font-size: 16px;
      width: auto;
    }

    .header-block{
      font-size: 34px;
    }

    .main-h {
      text-align: start;
    }

    .main-description {
      background-color: #ffffff00;
      justify-content: flex-start;
    }

    .padding-setup{
      padding: 5rem 3rem;
    }

    .main {
      height: 748px;
      background-size: 50%;
      padding: 5rem 1rem;
    }

    .main-description {
      justify-content: end;
      margin-top: 0rem;
    }

    .main-h h1{
      font-size: 57px;
      line-height: 60px;
    }

    .slick-slider{
      width: 100%;
    }

    .block-info-point{
      padding: 25px;
    }

    .block-info-text h3{
      font-size: 35px;
      line-height: 46px;
      margin-top: 0rem;
    }

    .block-info-title{
      font-size: 19px;
      line-height: 36px;
    }

    .block-info {
        /* margin-top: 5rem; */
    }

    .block-info-img {
      height: 500px;
      width: 576px;
    }
  }

  @media screen and (min-width: 992px) {

  }

  @media screen and (min-width: 1200px) {

  }
  
  @media screen and (min-width: 1440px) {
    
  }
  
  @media screen and (min-width: 1620px) {

  }
  