  @media screen and (min-width: 576px) { 

  }

  @media screen and (min-width: 768px) {

    .App-header {
      padding: 1.5rem 5rem;
    }

    .main-description {
      background-color: #ffffff00;
    }

    .padding-setup{
      padding: 5rem 3rem;
    }

    .main {
      height: 748px;
      background-size: 50%;
    }

    .main-description {
      justify-content: end;
      margin-top: 0rem;
    }

    .main-h h1{
      font-size: 57px;
      line-height: 60px;
    }

    .slick-slider{
      width: 100%;
    }
  }

  @media screen and (min-width: 992px) {

  }

  @media screen and (min-width: 1200px) {

  }
  
  @media screen and (min-width: 1440px) {
    
  }
  
  @media screen and (min-width: 1620px) {

  }
  